.nav{
    list-style-type: none;
    margin: 0;
    padding: 10;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  
}
div,p{
    text-align: center;
}
div{
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 400px;
}
p{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 400px;
}
.info{
    text-align: center;
}
h3{
    text-align: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 300px;
    margin-top: 80px;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;}

    .expl{
        border-spacing: 200px;
    }